<a href="https://colab.research.google.com/github/VictorRSantos/Formacao-Python/blob/main/4_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Listas

- List
  - Vetores dinâmicos. Pode ser modificado com adição ou remoção.
  - Ordernada.

- Set
  - Lista não ordenada, sem elementos duplicados.
  - Pode adicionar elementos, mas não modificar elementos existentes.
  - Não é possível acessar elemento pelo índice

- Tuple
  - Uma lista imutável
  - Lista de valores que tem sempre o mesmo número de itens e não pode ser modificada.
  - Ordenada

- Dictionary
  - Lista com chave/valor
  - Permite modificações, mas não permite valores duplicados para as chaves.

In [ ]:
array = []
array = list()

array_numeros = [1,2,3]
array_floats = [56.3, -2.2, 0.5]
array_str = ["A","B","C"]
array_misto = [2,2.3,"ABC"]
print(array)
print(array_numeros)
print(array_floats)
print(array_str)
print(array_misto)

[]
[1, 2, 3]
[56.3, -2.2, 0.5]
['A', 'B', 'C']
[2, 2.3, 'ABC']

In [ ]:
color = [1,2,
         3,
         4,5]
print(color)

[1, 2, 3, 4, 5]

In [ ]:
array = list([1,2,3])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 20
primeiro_elemento = array[0]
print(primeiro_elemento)
print(array[-1])
print(array)

[1, 2, 3]
1
20
3
[20, 2, 3]

In [ ]:
array = [1, "texto", 3]
print(array[1:3])

['texto', 3]

In [ ]:
array = [10,2,3]
print(array)
array.append(2)
print(array)
array.insert(2,"4")
print(array)

[10, 2, 3]
[10, 2, 3, 2]
[10, 2, '4', 3, 2]

In [ ]:
array = [10,2,3,20,"3"]
print(array)
array.remove(10)
print(array)
array.pop(2)
print(array)

[10, 2, 3, 20, '3']
[2, 3, 20, '3']
[2, 3, '3']

In [ ]:
print(len(array))

3

In [ ]:
array.clear()
print(array)

[]

In [ ]:
array = [1, 'teste', 1.3, True]
print(1 in array)
print(False not in array)

True
True

In [ ]:
lista = [5,6,7,2,3,4,7]
teste = lista.count(7)
print(teste)

2

In [ ]:
lista = [5,6,7,2,3,4,7]
pos = lista.index(5)
print(pos)

0

In [ ]:
array1 = [1,2,3]
array2 = [3,4,5]
soma = array1 + array2
print(soma)

[1, 2, 3, 3, 4, 5]

In [ ]:
array1 = [1,2,3]
mult = array1 * 3
print(mult)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
numeros = ["um","dois","três"]
x,y,z = numeros
print(x)
print(y)
print(z)

um
dois
três

In [ ]:
numeros = ["um","dois","três"]
x,y,_ = numeros
print(x)
print(y)

um
dois

In [ ]:
# Percorrer uma lista
cores = ["azul","preto","amarelo"]
for x in cores:
  print(x)

azul
preto
amarelo

In [ ]:
# Percorrer uma lista pelo indice
cores = ["azul","preto","amarelo"]
for i in range(0, len(cores)):
  print(cores[i])

azul
preto
amarelo

In [ ]:
# Percorrer uma lista pelo indice
cores = ["azul","preto","amarelo"]
indice = 0
while (indice < len(cores)):
  print(cores[indice])
  indice += 1

azul
preto
amarelo

In [ ]:
lista = [[1,2,3],[4,5,6]]
primeira_lista = lista[0]
segunda_lista = lista[1]
print(primeira_lista)
print(segunda_lista)
primeiro_elemento_primeira_lista = lista[0][0]
print(primeiro_elemento_primeira_lista)
segundo_elemento_segunda_lista = lista[1][1]
print(segundo_elemento_segunda_lista)

[1, 2, 3]
[4, 5, 6]
1
5

## Set

In [ ]:
lista_set = {}
lista2_set = {1,2,3}
lista3_set = set({1,2,3})
print(lista_set)
print(lista2_set)
print(lista3_set)

{}
{1, 2, 3}
{1, 2, 3}

In [ ]:
# Quando vamos acessar o valor pela posição da erro.
lista2_set = {1,2,3}
lista2_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
# Quando vamos modificar o valor pela posição da erro.
lista2_set = {1,2,3}
lista2_set[0] = 2

TypeError: 'set' object does not support item assignment

In [ ]:
lista_set = {1,2,3}
lista_set.add(5)
print(lista_set)
lista_set.remove(1)
print(lista_set)

{1, 2, 3, 5}
{2, 3, 5}

In [ ]:
# Set - não permite valores duplicados
lista_set = {1,2,3,4,2}
print(lista_set)

{1, 2, 3, 4}

In [ ]:
lista_set = {1,2,3,4}
print(lista_set)
lista_set.clear()
print(lista_set)

{1, 2, 3, 4}
set()

In [ ]:
lista_set ={1,2,3,4}
print(len(lista_set))

4

In [ ]:
lista_set = {1,2,3,4}
print(1 in lista_set)
print(5 in lista_set)

True
False

In [ ]:
lista_set = {1,2,3,'4', True, 6.1}
for item in lista_set:
  print(item)

1
2
3
4
6.1

In [ ]:
# Junção de Sets
set1 = {1,2,3}
set2 = {1,2,3,4}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4}

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_inser = set1.intersection(set2)
print(set_inser)

{1, 2, 3}

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_dif = set2.difference(set1)
print(set_dif)

{4}

## Tuple

Tuple é uma lista que não pode ser modificado, não pode ter nenhum tipo de alteração. Uma Tuple tem um número fixo de elemetos, não pode nem adicionar nem remover depois que você declarar.

In [ ]:
doces = tuple(('chocolate','bombom','paçoca'))
print(doces)

('chocolate', 'bombom', 'paçoca')

In [ ]:
doces = ('chocolate','bombom','paçoca')
print(doces)

('chocolate', 'bombom', 'paçoca')

In [ ]:
nums = ('1','2','3')
print(len(nums))

3

In [ ]:
nums = ('1','2','3')
print(nums[2])

3

In [ ]:
nums = (1,2,3,4,5,6,7.8)
sub_tupla = nums[2:4]
print(sub_tupla)

(3, 4)

In [ ]:
nums = (1,2,3,4,5,6,7.8)
print(4 in nums)
print(9 in nums)

True
False

In [ ]:
# erro
tupla = tuple((10,20,40))
tupla[0] = 20

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla = (6,7,8,9,10,6,6)
print(tupla.count(6))

3

In [ ]:
tupla =(5, '3', True, 7234)
pos = tupla.index('3')
print(pos)

1

In [ ]:
tupla =(5, '3', True, 7234)
for x in tupla:
  print(x)

5
3
True
7234

In [ ]:
tupla = (5, '3', True, 7234)
for x in range(0, len(tupla)):
  print(tupla[x])

5
3
True
7234

In [ ]:
tupla = (5, '3', True, 7234)
indice = 0
while(indice < len(tupla)):
  print(tupla[indice])
  indice += 1

5
3
True
7234

In [ ]:
# Fazendo Cast da tupla para lista
numeros_set = (1,2,3)
numeros_lista = list(numeros_set)
numeros_lista[0] = 12
numeros_lista.append("Fim")
numeros_set = tuple(numeros_lista)
print(numeros_set)

(12, 2, 3, 'Fim')

# Dictionaries

In [ ]:
idades = {'ana':10, 'maria':20, 'João':34, 'Fernando' : 'indefinido'}
print(idades)

{'ana': 10, 'maria': 20, 'João': 34, 'Fernando': 'indefinido'}

In [ ]:
nome_numeros = {7.1:'sete virgula um', 9.8:'nove virgula oito', 10.43:'dez virgula quarenta e três'}
print(nome_numeros)

{7.1: 'sete virgula um', 9.8: 'nove virgula oito', 10.43: 'dez virgula quarenta e três'}

In [ ]:
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 'indefinido'}
print(idades['ana'])
print(idades['fernando'])

print(idades.get('fernando'))

10
indefinido
indefinido

In [ ]:
nome_numeros = {
    7.1:'sete virgula um',
    9.8:'nove virgula oito',
    10.43:'dez virgula quarenta e três'
    }

print(nome_numeros[7.1])
print(nome_numeros.get(10.43))

sete virgula um
dez virgula quarenta e três

In [ ]:
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 'indefinido'}
print('ana' in idades)
print('roberto' not in idades)

True
True

In [ ]:
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 'indefinido'}
idades['maria'] = 30
print(idades)
idades.update({'joão':40})
print(idades)

{'ana': 10, 'maria': 30, 'joão': 34, 'fernando': 'indefinido'}
{'ana': 10, 'maria': 30, 'joão': 40, 'fernando': 'indefinido'}

In [ ]:
#Inserir e remover valores
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 'indefinido'}
idades['marcos'] = 90
idades.pop('ana')
print(idades)
idades.popitem() #remove o ultimo
print(idades)

{'maria': 20, 'joão': 34, 'fernando': 'indefinido', 'marcos': 90}

{'maria': 20, 'joão': 34, 'fernando': 'indefinido'}

In [ ]:
# Converter dicionario para tupla
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 'indefinido'}
lista = idades.items()
print(lista, end='\n\n')
for item in lista:
  print(item[0], item[1])

dict_items([('ana', 10), ('maria', 20), ('joão', 34), ('fernando', 'indefinido')])

ana 10
maria 20
joão 34
fernando indefinido

In [ ]:
# Separar a chave do valor
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 'indefinido'}

chaves = idades.keys()
valores = idades.values()

for item in chaves:
  print(item)
print("--------")

for item in valores:
  print(item)

ana
maria
joão
fernando
--------
10
20
34
indefinido

In [ ]:
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 20}

lista_nome = list(idades.values())
pessoas_com_20_anos = lista_nome.count(20)
print(pessoas_com_20_anos)

2

In [ ]:
# Limpar a lista
idades = {'ana':10, 'maria':20, 'joão':34, 'fernando' : 'indefinido'}
idades.clear()
print(idades)

{}

In [ ]:
# Dicionario aninhados
dados_maria = {
    'sexo':'feminino',
    'cpf':'12345678910',
    'rg':'3555525222'
}

dados_joao = {
    'sexo':'masculino',
    'cpf':'10987654321',
    'rg':'31111111111'
}

dados_ana = {
    'sexo':'feminino',
    'cpf':'44455566699',
    'rg':'114445556'
}

dados_por_nome ={
    'ana': dados_ana,
    'maria':dados_maria,
    'joao':dados_joao
}

print(dados_por_nome['maria']['cpf'])
print(dados_por_nome['joao']['sexo'])

12345678910
masculino

In [ ]:
dados_por_nome ={
    'ana':{
        'sexo':'feminino',
        'cpf':'44455566699',
        'rg':'114445556'
    },
    'maria':{
        'sexo':'feminino',
        'cpf':'12345678910',
        'rg':'3555525222'
    },
    'joao':{
        'sexo':'masculino',
        'cpf':'10987654321',
        'rg':'31111111111'
    }
}

print(dados_por_nome)

{'ana': {'sexo': 'feminino', 'cpf': '44455566699', 'rg': '114445556'}, 'maria': {'sexo': 'feminino', 'cpf': '12345678910', 'rg': '3555525222'}, 'joao': {'sexo': 'masculino', 'cpf': '10987654321', 'rg': '31111111111'}}

# List Comprehensions

In [2]:
lista = [x for x in range(0,10)]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
lista = ['1', 'zero', 'Quatro']
lista = [x for x in lista]
print(lista)

['1', 'zero', 'Quatro']

In [8]:
lista = [x for x in range(1,11) if x % 2 == 0]
print(lista)

[2, 4, 6, 8, 10]

In [12]:
lista_aux  = [1,5,9]
lista = [x for x in range(1,11) if x not in lista_aux]
print(lista)

[2, 3, 4, 6, 7, 8, 10]

In [17]:
lista = [x for x in range(-10, 10) if x < 10 if x >= 0]
print(lista)

lista = [x for x in range(-10, 20) if x <= 10 if x >= 0]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
lista = [x*2 for x in range(0,11)]
print(lista)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
#Converter os valores para o tipo string
lista = [str(x) for x in range(0,21)]
print(lista)

# acessando pelo indice
lista = [str(x)[0] for x in range(0,21)]
print(lista)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2']

In [29]:
lista = ['negativo' if x < 0 else 'positivo' for x in range(-3, 4)]
print(lista)

['negativo', 'negativo', 'negativo', 'positivo', 'positivo', 'positivo', 'positivo']

In [33]:
# Par/impar
lista = [str(x) + ' par' if x % 2 == 0 else str(x) +' impar' for x in range(2,11)]
print(lista)

['2 par', '3 impar', '4 par', '5 impar', '6 par', '7 impar', '8 par', '9 impar', '10 par']

In [36]:
# aplicando filtro com função lambda
lista = [1,2,3,4,5,6,7,8,9]
lista = list(filter(lambda x : x % 2 == 0, lista))
print(lista)

[2, 4, 6, 8]

In [39]:
lista = [ [x for x in range(1,5)] for y in range(1,5) ]
print(lista)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [42]:
lista = [ [str(x) + str(y) for x in range(1,5)] for y in range(1,5) ]
lista

[['11', '21', '31', '41'],
 ['12', '22', '32', '42'],
 ['13', '23', '33', '43'],
 ['14', '24', '34', '44']]

In [53]:
[[str(x) + '*' + str(y) + '=' + str(x*y) for x in range(2,4) for y in range(1,11)]]

[['2*1=2',
  '2*2=4',
  '2*3=6',
  '2*4=8',
  '2*5=10',
  '2*6=12',
  '2*7=14',
  '2*8=16',
  '2*9=18',
  '2*10=20',
  '3*1=3',
  '3*2=6',
  '3*3=9',
  '3*4=12',
  '3*5=15',
  '3*6=18',
  '3*7=21',
  '3*8=24',
  '3*9=27',
  '3*10=30']]

# Atividades

In [58]:
# 1-Crie uma lista com os seguintes números 1,10,6,7,8,10. Em seguida printe a soma destes números
lista = [1,10,6,7,9,10]
print(sum(lista))

# ou
soma = 0
for num in lista:
  soma+=num

print(soma)

43
43

In [87]:
# 2-Cria uma lista e preencha ela com valores de 1 a 100. Em seguida print esses valores.
lista = [x for x in range(1,101)]
print(lista)

# ou

lista2 = []
for i in range(1,101):
  lista2.append(i)

print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [89]:
# 3 - Crie duas listas com os seguintes valores 30,4,43,52,65,-10
# e 43,2,4,76,32,65,3. Agora faça a junção dessas listas, mas se houverem valores
# repetidos entre ambas eles não podem repetir na lista unida
lista_um =  [30,4,43,52,65,-10]
lista_dois =[43,2,4,76,32,65,3]

lista_unida = list(set(lista_um + lista_dois))

print(lista_unida)

# ou

lista_um =  {30,4,43,52,65,-10}
lista_dois = {43,2,4,76,32,65,3}
nova_lista_unida = lista_um.union(lista_dois)

print(nova_lista_unida)

# utilizar a biblioteca collection
#from collections import OrderedDict

# Unir as listas mantendo a ordem original e sem duplicatas
#lista_unida = list(OrderedDict.fromkeys(lista_um + lista_dois))

#print(lista_unida)

[32, 65, 2, 3, 4, 43, 76, 52, -10, 30]
{32, 65, 2, 3, 4, 43, 76, 52, -10, 30}

In [79]:
# 4 - Crie uma lista contendo o nome de todos os meses do ano.
# Em seguida receba por input o mês(número) em que você nasceu e
# mostre qual nome do mês que você nasceu

meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro','Outubro','Novembro','Dezembro']

mes_aniversario = int(input('Digite o mês do seu aniversario ?\nMês:'))

if 1 <= mes_aniversario <= 12:
  print(f"Você nasceu em {meses[mes_aniversario - 1]}.")

Digite o mês do seu aniversario ?
Mês:1
Você nasceu em Janeiro.

In [91]:
# 5 - Crie um lista contendo todos dias(numero) do mês em que você nasceu.
# Em seguida recebe por input o dia (número) em que você nasceu e remova desta lista
# Ao final mostre o conteúdo da lista.
dias = [x for x in range(1,31)]

dia_nascimento = int(input('Digite dia do seu nascimento ? \nDia: '))

dias.remove(dia_nascimento)

print(dias)

Digite dia do seu nascimento ?
Dia: 15
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]