<a href="https://colab.research.google.com/github/VictorRSantos/Formacao-Python/blob/main/5_funcoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seção 5: Criando e Utilizando Funções


*   Blocos de Código Reutilizável

## Funções

In [ ]:
def func():
  num = 10
  print("Uma função %d " % (num))

func()

Uma função 10

In [ ]:
def func():
  pass

func()

In [ ]:
def print_var(numero):
  print(numero)

print_var(2)
print("Maça")

2
Maça

In [ ]:
def print_soma(num1, num2):
  print(num1 + num2)

print_soma(1,2)
print_soma(3.3, 1.1)
print_soma("olá ", "mundo!")

3
4.4
olá mundo!

In [ ]:
def func(*args):
  print(type(args))
  print("Argumentos são:", args)

func(1,2,3)
func()
func("Olá", True, [1,2,3])

<class 'tuple'>
Argumentos são: (1, 2, 3)
<class 'tuple'>
Argumentos são: ()
<class 'tuple'>
Argumentos são: ('Olá', True, [1, 2, 3])

In [ ]:
def print_sub(num1, num2):
  print(num1 - num2)

print_sub(10,2)
print_sub(num2 = 5, num1 = 2)

8
-3

In [ ]:
def func(*args, outro):
  print("Argumentos são:", args)
  print(outro)

func(1,2,3, outro="1")
func(outro="2")
func("Olá", True, [1,2,3], outro="3")

Argumentos são: (1, 2, 3)
1
Argumentos são: ()
2
Argumentos são: ('Olá', True, [1, 2, 3])
3

In [ ]:
def func(valor, nome = "Teste"):
  print(nome, valor)

func(3)
func(3, "Outro")

Teste 3
Outro 3

In [ ]:
def func(**args):
  print(type(args))
  print(args)
  print(args["valor"])

func(valor ='10', operacao = 'Soma', resultado = 10)

<class 'dict'>
{'valor': '10', 'operacao': 'Soma', 'resultado': 10}
10

In [ ]:
def printa(x):
  print(x)

def executa_func(func,x):
  func(x)

minha_funcao = printa
print(type(minha_funcao))

executa_func(minha_funcao, 10)

<class 'function'>
10

In [ ]:
# Funções que retorna valores
def subtrai(num1, num2):
  valor = num1 - num2
  return valor

subtracao = subtrai(10,3)

print(subtracao)

7

In [ ]:
# Funções que retorna valores
def len_int(numero):
  numero_em_texto = str(numero)
  return len(numero_em_texto)

num1 = 10
num2 = 1230

tamanho1 = len_int(num1)
tamanho2 = len_int(num2)

print("O número %s tem %d dígitos" % (num1, tamanho1))
print("O número %d tem %d dígitos" % (num2, tamanho2))

O número 10 tem 2 dígitos
O número 1230 tem 4 dígitos

In [ ]:
# Funções que retorna valores
def retorna_multiplo():
  return 1,2

valor = retorna_multiplo()
print(valor)
print(type(valor))

(1, 2)
<class 'tuple'>

In [ ]:
# Funções que retorna valores
def retorna_multiplo(a,b,c):
  a +=a
  b +=b
  c +=c
  return a,b,c

x,y,z = retorna_multiplo(1,2,3)
print(x,y,z)

a = retorna_multiplo(1,2,3)
print(a)

2 4 6
(2, 4, 6)

In [ ]:
# Funções que retorna valores
def func():
  print("Olá")
  return
  print("123")

func()

Olá

In [ ]:
# Funções que retorna valores
def func(x):
  if x == "Olá":
    print("Olá")
    return
  print("123")
  return x

print(func("X"))

123
X

In [ ]:
#Funções Lambda - Exemplo - 1

faz_soma = lambda x : x + 10
valor = faz_soma(2)
print(valor)

12

In [ ]:
#Funções Lambda - Exemplo - 2

multiplica = lambda x,y : x * y
valor = multiplica(2,10)
print(valor)

20

In [ ]:
#Funções Lambda - Exemplo - 3

def multiplica(y):
  return lambda x : x * y

valor = multiplica(2)
resultado = valor(10)

print(resultado)

<function multiplica.<locals>.<lambda> at 0x7c0b3897dfc0>
20

In [3]:
# Funções Recursivas Exemplo 1
def print_num(num):
  print(num)
  if num >= 10:
    return
  print_num(num + 1)

print_num(0)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
# Funções Recursivas Exemplo 2
def print_str(texto,indice):
  if indice == len(texto):
    return
  print(texto[indice])
  print_str(texto, indice + 1)

print_str("Python", 0)

P
y
t
h
o
n

In [8]:
# Funções Recursivas Exemplo 3
def fatorial(num):
  if num == 1:
    return 1
  return num * fatorial(num-1)

print(fatorial(10))

3628800

In [ ]:
# Funções Aninhadas