<a href="https://colab.research.google.com/github/VictorRSantos/Formacao-Python/blob/main/6_funcoes_built_in.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seção 6: Funções Built-in

Funções Matemáticas

In [ ]:
# Valor absoluto

num1 = -10
num2 = 10
print(abs(num1))
print(abs(num2))
print(abs(num1) + abs(num2))

10
10
20

In [ ]:
maior_valor = max(10,20,30)
print(maior_valor)

30

In [ ]:
lista = [-20,1,2.3,4,4]
print(max(lista))

lista = [-20,1,2.3,4,4]
print(min(lista))

4
-20

In [ ]:
x = 2
y = 3
print(pow(x,y))

8

In [ ]:
import math
print(math.sqrt(25))

5.0

In [ ]:
print(round(2.4566,1))
print(round(2.4566,2))
print(round(2.4566,3))

2.5
2.46
2.457

In [ ]:
from math import floor, ceil

print(floor(2.4566)) # Arredonda o valor para baixo
print(ceil(2.4566))# Arredonda o valor para cima

2
3

In [ ]:
print(divmod(10,4))

(2, 2)

Caracteres para números e números para caracteres

In [ ]:
numero = 70
caractere = chr(numero)
print(f"O número {numero} é mapeado para o caractere {caractere}")

O número 70 é mapeado para o caractere F

In [ ]:
# mostrar os numeros dos caracteres
for i in range(65,100):
  caractere = chr(i)
  print(f"{i} - {caractere}")

65 - A
66 - B
67 - C
68 - D
69 - E
70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c

In [ ]:
caractere = "F"
numero = ord(caractere)
print(f"O caractere {caractere} se mapeia para o número {numero}")

O caractere F se mapeia para o número 70

Funções de Texto

In [ ]:
#Primeira letra maiuscula
texto = "ola, tudo bem?"
print(texto.capitalize())

Ola, tudo bem?

In [ ]:
#Tudo para maiuscula
print(texto.upper())

OLA, TUDO BEM?

In [ ]:
#Tudo para minuscula
print(texto.lower())

ola, tudo bem?

In [ ]:
#Inverter de formatação
texto = "Ola, Tudo Bem?"
print(texto.swapcase())

oLA, tUDO bEM?

In [ ]:
#Transforma primeira letra de cada palavra em maiusculo
texto = "eu sou um ótimo programador python"
print(texto.title())

Eu Sou Um Ótimo Programador Python

In [ ]:
# Centralizar texto
texto = "1234567"
print(texto.center(9))
print(texto.center(14))
print(texto.center(14,'-'))

 1234567
   1234567
---1234567----

In [ ]:
# Justificar texto
texto = "1234567"
# direita
print(texto.rjust(9))
# esquerda
print(texto.ljust(9))

  1234567
1234567

In [ ]:
# Contar ocorrencia de uma letra
texto = "12121212"
print(texto.count("121"))

2

In [ ]:
texto = "121212"
print(texto.startswith("12"))
print(texto.endswith("12"))

True
True

In [ ]:
# Retorna o indice do texto
texto = "me encontra 20 10 5"
pos = texto.find("10")
print(pos)
pos = texto.find("4")
print(pos)

15
-1

In [ ]:
# Encontrar texto pelo o indice
texto = "me encontra 20 10 5"
pos = texto.index("10")
print(pos)
pos = texto.index("4") # gera erro
print(pos)

15

ValueError: substring not found

In [ ]:
# Substituir Texto
texto = "Ol@ eu sou ful@n@"
novo_texto = texto.replace("@","a")
print(novo_texto)

Ola eu sou fulana

In [ ]:
texto = "10,20,30"
print(texto.split(","))

['10', '20', '30']

In [ ]:
texto = "Olá, bom dia\n este é um curso de python\n seja bem vindo"
print(texto.splitlines())

['Olá, bom dia', ' este é um curso de python', ' seja bem vindo']

In [ ]:
# Identificar padrões no texto
print("abcdE3".isalpha())

False

In [ ]:
# Identificar padrões no texto
print("abcdE3".isalnum())
print("abc,dE3".isalnum())

True
False

In [ ]:
# Identificar string é composta por números
print("123.3".isdecimal())
print("123".isdecimal())
print("123a".isdecimal())

False
True
False

In [ ]:
# Identificar string é composta por caracteres em branco
print("123".isspace())
print("1  ".isspace())
print("    ".isspace())

False
False
True

In [ ]:
# Identificar se o texto é tudo maiusculo e minusculo
print("abc".islower())
print("ABC".isupper())

True
True

Funções para Listas

In [ ]:
# Ordernar uma coleção
lista = [5,10,2,1,5,10]
lista.sort()
print(lista)

[1, 2, 5, 5, 10, 10]

In [ ]:
# Ordernar texto
lista = ["a","b","x","ab","d","c"]
lista.sort()
print(lista)

['a', 'ab', 'b', 'c', 'd', 'x']

In [ ]:
# decrescente
lista = [5,10,2,1,5,10]
lista.sort(reverse=True)
print(lista)

[10, 10, 5, 5, 2, 1]

In [ ]:
def sort_por_tamanho(item):
  return len(item)

lista = ["abcd","a","ab","abc"]

lista.sort(key=sort_por_tamanho)
print(lista)

['a', 'ab', 'abc', 'abcd']

In [ ]:
lista = [5,10,2,1,5,10]
lista.reverse()
print(lista)

[10, 5, 1, 2, 10, 5]

In [ ]:
produtos = [
    ["carro","R$ 100.000"],
    ["cadeira", "R$ 1000"],
    ["moto", "R$ 40000"],
    ["geraladeira", "R$ 2000"],
    ["armario", "R$ 1500"]
]


for produto, valor in produtos:
  print(produto, valor)

carro R$ 100.000
cadeira R$ 1000
moto R$ 40000
geraladeira R$ 2000
armario R$ 1500

In [ ]:
nomes = ('José','Carlos','João')
dicionario = dict.fromkeys(nomes,10)
print(dicionario)

{'José': 10, 'Carlos': 10, 'João': 10}

### Funções Data e Hora

In [ ]:
# Funções data e hora
import datetime

data_completa = datetime.datetime.now()

# Pegar data
data = data_completa.date()

# Pegar Hora
hora = data_completa.time()

print(data_completa)
print(data)
print(hora)


print("\n=========================================\n")

print(f"Dia {data_completa.day}")
print(f"Mês {data_completa.month}")
print(f"Ano {data_completa.year}")
print(f"Hora {data_completa.hour}")
print(f"Minutos {data_completa.minute}")
print(f"Segundos {data_completa.second}")

print("\n=======Criar uma data especifica=========\n")

data = datetime.date(2000,9,30)
print(f"Data {data}")
# Passar parametro de forma nomeada
data = datetime.date(day=30, month=9, year=2000)
print(f"ano-mês-dia {data}")
print(type(data))

print("\n===============Time====================\n")

hora = datetime.time(10,30,20)
data = datetime.datetime(2000,9,30,10,30,20)
print(f"Hora {hora}")
print(f"Data e Hora {data}")

print("\n===============Formatação====================\n")
print(" y - Ano\n m - Mês\n d - Dia\n H - Hora\n M - Minutos\n S - Segundos")

atual = datetime.datetime.now()
current_time = atual.strftime("%y/%m/%d - %H:%M:%S")
print(current_time)

print("\n===============Outras Formatação====================\n")
print(" A - dia da semana\n a - dia da semana abreviado\n B - nome do mês\n b - nome do mês abreviado\n I - hora formato 12 horas\n P - AM PM")
data = datetime.datetime(2000,9,30,10,30,20)

print(data.strftime("Dia: %A - %a"))
print(data.strftime("Mês: %B - %b"))
print(data.strftime("Hora: %H - %I"))
print(data.strftime("Hora: %I - %P"))

2025-02-24 01:06:21.188738
2025-02-24
01:06:21.188738

=========================================

Dia 24
Mês 2
Ano 2025
Hora 1
Minutos 6
Segundos 21

=======Criar uma data especifica=========

Data 2000-09-30
ano-mês-dia 2000-09-30
<class 'datetime.date'>

===============Time====================

Hora 10:30:20
Data e Hora 2000-09-30 10:30:20

===============Formatação====================

 y - Ano
 m - Mês
 d - Dia
 H - Hora
 M - Minutos
 S - Segundos
25/02/24 - 01:06:21

===============Outras Formatação====================

 A - dia da semana
 a - dia da semana abreviado
 B - nome do mês
 b - nome do mês abreviado
 I - hora formato 12 horas
 P - AM PM
Dia: Saturday - Sat
Mês: September - Sep
Hora: 10 - 10
Hora: 10 - am

### Manipulando Datas e Horas

In [ ]:
import datetime

data_um = datetime.datetime(2020,10,20)
data_dois = datetime.datetime(2020,11,20)
diferenca = data_dois - data_um
print(diferenca)
print(type(diferenca))

31 days, 0:00:00
<class 'datetime.timedelta'>

In [ ]:
# Pegar horario atual e adicionar semanas e imprimir os resultados
from datetime import datetime, timedelta

data_atual = datetime.now()
data_futura_um = data_atual + timedelta(weeks = 4)
data_futura_dois = data_atual + timedelta(days = 30)
data_futura_tres = data_atual + timedelta(hours = 12)
data_futura_quarto = data_atual + timedelta(minutes = 60)

print(f"Data atual: {data_atual}")
print(f"Mais quatro semanas: {data_futura_um}")
print(f"Mais 30 dias: {data_futura_dois}")
print(f"Mais 12 horas: {data_futura_tres}")
print(f"Mais 60 minutos: {data_futura_quarto}")

Data atual: 2025-02-24 01:16:33.274969
Mais quatro semanas: 2025-03-24 01:16:33.274969
Mais 30 dias: 2025-03-26 01:16:33.274969
Mais 12 horas: 2025-02-24 13:16:33.274969
Mais 60 minutos: 2025-02-24 02:16:33.274969

In [ ]:
# Calcular data e hora sem a função timedelta
import datetime
data_2000 = datetime.datetime(2000, 1, 1, 0,0,0)
data_agora = datetime.datetime.now()
diferenca = data_agora - data_2000
print(f"Desde o ano 2000 passou {diferenca.days} dias")
print(f"Desde o ano 2000 passou {diferenca.seconds} segundos")
print(f"Desde o ano 2000 passou {diferenca.microseconds} microsegundos")

# Quantos anos se passaram
anos = int(diferenca.days/365)
meses = anos * 12

print(f"Desde o ano 2000 passou {anos} anos")
print(f"Desde o ano 2000 passou {meses} meses")

Desde o ano 2000 passou 9186 dias
Desde o ano 2000 passou 4971 segundos
Desde o ano 2000 passou 514953 microsegundos
Desde o ano 2000 passou 25 anos
Desde o ano 2000 passou 300 meses

### Lendo Entradas de Datas

In [ ]:
import datetime
data_txt = input("Digite a data no formato dia/mês/ano:")
datetime = datetime.datetime.strptime(data_txt, "%d/%m/%Y")
print(datetime)
print(type(datetime))

Digite a data no formato dia/mês/ano:10/05/2000
2000-05-10 00:00:00
<class 'datetime.datetime'>

### Atividades

In [ ]:
# 1 - Crie uma função que retorne a subtração de dois elementos, mas que
# considere o valor absoluto deste valores
def subtracao(num1, num2):
  resultado = (abs(num1) - abs(num2))
  return resultado

print(f"Resultado:{subtracao(10, 20)}")

Resultado:-10

In [ ]:
# 2 - Sem usar "IFs", crie uma função que receba dois números e
# retorne a soma dos mesmos, mas o valor retornado não pode passar de 10000 e deve ser sempre maior que 0.
def soma(num1, num2):
  soma = num1 + num2
  soma = min(10000, soma)
  soma = max(0, soma)
  return soma


print(f"Soma:{soma(20, 20)}")
print(f"Soma:{soma(5000, 6000)}")
print(f"Soma:{soma(10, -20)}")

Soma:40
Soma:10000
Soma:0

In [ ]:
# 3 - (Desafio) - Crie uma função que receba argumentos de tamanho arbitrário;
# Todos esses argumentos serão números. Em seguida retorne o menor número entre todos os recebidos

def menor(*numeros):
  menor = numeros[0]
  for i in numeros:
    menor = min(i, menor)
  return menor

print(f"Resultado: {menor(10,20,30,10000,20000)}")

Resultado: 10

In [ ]:
# 4 - Crie uma função que calcule a formula de Bhaskara, encontrado o X.
# Os coeficientes a,b e c devem ser lidos por input.
import math

a = float(input("Digite o coeficiente a:"))
b = float(input("Digite o coeficiente b:"))
c = float(input("Digite o coeficiente c:"))

x1 = (-b + math.sqrt(pow(b, 2) -4 * a * c)) / (2 * a)
x2 = (-b - math.sqrt(pow(b, 2) -4 * a * c)) / (2 * a)
print(f"A solução encontrada é {x1} e {x2}")

Digite o coeficiente a:2
Digite o coeficiente b:9
Digite o coeficiente c:10
A solução encontrada é -2.0 e -2.5

In [ ]:
# 5 - Crie uma função que receba uma string, e para cada letra minúscula
# a transforme em uma letra maiúscula e vice versa
def troca(texto):
  return texto.swapcase()

print(troca("Olá MunDO"))

oLÁ mUNdo