<a href="https://colab.research.google.com/github/VictorRSantos/Formacao-Python/blob/main/7_OrientacaoObjetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Orientação a Objetos

### Propriedades de Objetos

In [ ]:
class Teste:
  pass

minha_classe = Teste()
print(type(minha_classe))

<class '__main__.Teste'>

In [ ]:
class NossaClasse:
  def __init__(self): # Construtor Padrão
    print("Eu existo")

var = NossaClasse()
print(type(var))

Eu existo
<class '__main__.NossaClasse'>

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print("Pessoa com nome %s e idade %d criada" % (nome, idade))

pessoa1 = Pessoa("Victor", 42)
pessoa2 = Pessoa("Kucas", 21)

print(pessoa1.nome)
print(pessoa2.idade)

Pessoa com nome Victor e idade 42 criada
Pessoa com nome Kucas e idade 21 criada
Victor
21

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print("Pessoa com nome %s e idade %d criada" % (nome, idade))

pessoa1 = Pessoa("Victor", 42)
pessoa1.nome = "Marcelo"
print(pessoa1.nome)

Pessoa com nome Victor e idade 42 criada
Marcelo

In [ ]:
class Pessoa:
  especie = "Homo Sapiens"
  def __init__(self, nome, idade):
    self.nome =  nome
    self.idade = idade
    print(f"Pessoa com nome {nome} e idade {idade} criada")

pessoa1 = Pessoa("Rodrigo", 34)
pessoa2 = Pessoa("Lucas", 21)

print(pessoa1.especie)
print(pessoa2.especie)

Pessoa com nome Rodrigo e idade 34 criada
Pessoa com nome Lucas e idade 21 criada
Homo Sapiens
Homo Sapiens

In [ ]:
class Pessoa:
  especie = "Homo Sapiens"
  num_pessoas = 0
  def __init__(self, nome, idade):
    self.nome =  nome
    self.idade = idade
    Pessoa.num_pessoas += 1

pessoa1 = Pessoa("Victor", 42)
print(Pessoa.num_pessoas)
pessoa2 = Pessoa("Kucas", 21)
print(Pessoa.num_pessoas)
pessoa2 = Pessoa("Maria", 22)
print(Pessoa.num_pessoas)

1
2
3

### Funções de Objetos

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome =  nome
    self.idade = idade
  def print_nome(self):
    print(f"Meu nome é {self.nome}")

pessoa1 = Pessoa("Victor", 34)
pessoa2 = Pessoa("Maria", 22)

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome é Victor
Meu nome é Maria

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome =  nome
    self.idade = idade

  def print_string(self, nome):
    print(f"Meu nome é {nome}")

  def print_nome(self):
    self.print_string(self.nome)

pessoa1 = Pessoa("Victor", 34)
pessoa2 = Pessoa("Maria", 22)

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome é Victor
Meu nome é Maria

In [ ]:
class Pessoa:
  def __init__(self, nome):
    self.nome =  nome

  def insere_idade(self, idade):
    self.idade = idade

victor = Pessoa("Victor")
victor.insere_idade(42)

print(victor.idade)

42

### Classes com uma Classe como Atributo

In [2]:
class Tipo1:
  def __init__(self, outra_classe):
    self.outra = outra_classe

class Tipo2:
  numero = 10

classe2 = Tipo2()
classe1 = Tipo1(classe2)

print(f"Classe 1: {classe1.outra.numero}")

Classe 1: 10

In [4]:
class Exemplo:
  def __init__(self):
    pass

lista = []
ex1 = Exemplo
ex2 = Exemplo

lista.append(ex1)
lista.append(ex2)

print(lista[0])

<class '__main__.Exemplo'>

### Herança

In [6]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura

class Quadrado(FormaGeometrica):
  pass

class Triangulo(FormaGeometrica):
  pass

quadrado = Quadrado(100, 50)
triangulo = Triangulo(10, 50)

print(quadrado.altura)
print(quadrado.largura)

print(triangulo.altura)
print(triangulo.largura)

100
50
10
50

In [10]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura

class Quadrado(FormaGeometrica):
  lado = 10

class Triangulo(FormaGeometrica):
  angulo = 30

quadrado = Quadrado(100, 50)
triangulo = Triangulo(10, 50)

print(quadrado.altura)
print(quadrado.largura)
print(quadrado.lado)

print(triangulo.altura)
print(triangulo.largura)
print(triangulo.angulo)

100
50
10
10
50
30

In [15]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura

  def funcao_herdada(self):
    print("Sou herdado")

class Quadrado(FormaGeometrica):
  pass

class Triangulo(FormaGeometrica):
  pass

quadrado = Quadrado(100, 50)
triangulo = Triangulo(10, 50)

quadrado.funcao_herdada()
triangulo.funcao_herdada()


print(quadrado.altura)
print(quadrado.largura)


print(triangulo.altura)
print(triangulo.largura)

Sou herdado
Sou herdado
100
50
10
50